{% extends "base.html" %}
{% block title %}Tweet page{% endblock %}
{% block main %}

<br>
<div class="container">
    <div class="card" style="width: 30rem;">
        <div class="card-horizontal">
            <div class="img-square-wrapper">
                <img class="" width="200" src="" alt="User pic" id="authorPic">
            </div>
            <div class="card-body">
                <h5 id="tweetId"></h5>
                <h6 class="card-title" id="author"></h6>
                <p class="card-text" id="cardText"></p>
            </div>
        </div>
    </div>
</div>
<script nonce="{{ g.nonce }}">
    function fetchTweet() {
        fetch('/api/tweet/{{tweet_id}}').then(resp => resp.json()).then(
            data => {
                document.getElementById('tweetId').innerText = `Tweet id = ${data.id}`;
                document.getElementById('authorPic').src = data.author.pic;
                document.getElementById('author').innerHTML = `<b>${data.author.name}</b>`;
                document.getElementById('cardText').innerText = data.content;
            }
        )
    }

    fetchTweet()
</script>
{% endblock %}